
<body>

<div class="container">
  <ul class="nav nav-tabs">
    <li><a href="/profile">Home</a></li>
    <li class="active"><a href="/index/certificate">Certificates</a></li>
    <li><a href="/classes">Classes</a></li>
     <% if @user.is_supervisor%>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Manage <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/employees">Employees</a></li>
        <li><a href="/all_classes">Classes</a></li>
        <li><a href="#">Certificates</a></li>                        
      </ul>
    </li>
    <% end %>
  </ul>
</div>


  <div class="container">          
  <table class="table table-hover sortable">
    <thead>
      <tr>
        <th>Certificate Name</th>
        <th>Issued By</th>
        <th>Issue Date</th>
        <th>Credit hour</th>
      </tr>
    </thead>
    <tbody>
     <% @user_certificates.each do |x| %>
              <tr>
                  <td><%= x.certificate %></td>
                  <td><%= x.issued_by %></td>
                  <td><%= x.date_issued %></td>
                  <td><%= x.credit_hours %></td>
              </tr>
     <% end %>
    </tbody>
  </table>
</div>


</body>