
<body>

<div class="container-fluid">
  <h1>Dashboard</h1>
  <div class="row">
    <div class="col-sm-4" >
    <a href="/all_classes">
      <img src="https://photos-6.dropbox.com/t/2/AAC6z8G3UQJsxeFTXk-ncHvDG88JWPsTi3HE9S4q31gFAA/12/203792051/jpeg/32x32/3/1447837200/0/2/3.jpg/ENeqgZoBGN7lCyACKAI/2ikHvYTQ-gqsaK338uG_A6Cf8UcN5FlxisZycdU2BFw?size_mode=2&size=1600x1200" width="304">
      </a>
    </div>
    <div class="col-sm-4" >
    <a href="/employees">
      <img src="https://photos-1.dropbox.com/t/2/AABbr5LP2mXNlNAYBVqu7WYV1x5OHiBnOYtE4WG42RQKQw/12/203792051/jpeg/32x32/3/1447837200/0/2/2.jpg/ENeqgZoBGN7lCyACKAI/zMpBSRPmyzX-sJNrmyp5nLUAoZB1tqixDYsJJigNoac?size_mode=2&size=1600x1200" width="304">
      </a>
    </div>
    <div class="col-sm-4" >
    <a href="/all_ems">
      <img src="https://photos-2.dropbox.com/t/2/AAA9GA67T8mcu7kCm064wNEJ5PhPj0Jf7pkHXMrwwDQfpw/12/203792051/jpeg/32x32/3/1447837200/0/2/1.jpg/ENeqgZoBGN7lCyACKAI/L3mUu83afF3qKbPee_uRqBC_RXalSuOZprgqdDPkIkk?size_mode=2&size=1600x1200" width="304">
    </a>
    </div>
  </div>
  <p></p>
    <div class="row">
    <div class="col-sm-4" >
    <a href="/all_fire">
      <img src="https://photos-4.dropbox.com/t/2/AAAo8HtemdRQpA_4nZ_uxs7U9c2kjqMt8VFD33qi-8aTXQ/12/203792051/jpeg/32x32/3/1447837200/0/2/4.jpg/ENeqgZoBGN7lCyACKAI/4AqFEP3Xagdq-hvO8ZvPkPgtwaiFnrdT_v4kxfL1_pI?size_mode=2&size=1600x1200" width="304">
      </a>
    </div>
  </div>
</div>

</body>