<body>

<div class="container-fluid">
  <h1>Dashboard</h1>
  <div class="row">
    <div class="col-sm-4" >
    <a href="/all_classes">
      <img src="http://www.interededucation.com/images/courses4_icon.jpg" width="304">
      </a>
    </div>
    <div class="col-sm-4" >
    <a href="/employees">
      <img src="http://iconservices.co/wp-content/uploads/2014/08/employee.jpg" width="304">
      </a>
    </div>
    <div class="col-sm-4" >
    <a href="#">
      <img src="http://afocusonfitness.com/wp-content/uploads/2011/11/ems-safety-logo.jpg" width="304">
    </a>
    </div>
  </div>
</div>


</body>