<div> 
      <ul >
            <li>
            "Name"
            <%= @user_info.name %>
            </li>
            <li>
            "Employee ID"
            <%= @user_info.employee_id %>
            </li>
            <li>
            "Address"
            <%= @user_info.address %>
            </li>
            <li>
            "Phone"
            <%= @user_info.phone %>
            </li>

      </ul>
</div>